body {
    margin: 0;
    padding: 0;
    background-color: #494747;
    justify-content: center;
    vertical-align: baseline;

    /*  zoom: 1.25; funciona Chrome e Edge (PARA WINDOWNS) */

}

html {
    scroll-behavior: smooth;
}

.header-top {
    width: 100%;
    min-height: 90px;
    background-color: rgb(29, 28, 28);
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;

}



.logo {
    position: absolute;
    left: 120px;
    width: 300px;
    max-height: 50px;
    border-radius: 10px;
}


.logo2 {
    position: absolute;
    left: 10px;
    height: 80px;
    width: 110px;
}

.category-link {
    display: block; 
    text-decoration: none; 
    color: inherit; 
}
.category-link p {
    margin: 0;
}




.mode-btn {
    position: absolute;
    top: 80px;
    right: 10px;
    width: 100px; 
    height: 30px;
    color: #FFFFFF; 
    background-color: #3a3738;
    border: none; 
    border-radius: 5px; 
    font-weight: 600; 
    font-size: 12px; 
    transition: all 0.3s ease; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; 
    z-index: 100;
}


.mode-btn:hover {
    color: #1b1b1b; 
    background-color: #ebdee0d2; 
    transform: translateY(-2px); 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
}






.login-box {
    position: absolute;
    top: 60px;
    right: 20px;
    background: rgb(116, 114, 114);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(146, 145, 145, 0.1);
    width: 250px;
    z-index: 1000;
    display: none;
}

.login-box.show {
    display: block;
}

.login-title {
    margin: 0 0 15px 0;
    font-size: 1.2rem;
    color: #0e0d0d;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.9rem;
}

.login-button {
    padding: 10px;
    background: #303538;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background 0.3s;
}

.login-button:hover {
    background: #1a1919;
}

.register-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 0.8rem;
    color: #0a0a0a;
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}

.header-content {
    display: flex;
    align-items: center;
}



.floating-menu {
    width: 150px;
    display: flex;
    height: 60%;
    position: fixed;
    right: 0px;
    top: 44%;
    transform: translateY(-50%);
    background-color: rgba(29, 28, 28, 0.9);
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.floating-menu ul {
    list-style: none;
    padding: 10px 10px;
    margin: 0;
}

.floating-menu li {
    margin: 15px 0;
    text-align: center;
    transition: all 0.3s ease;
    text-transform: uppercase;
    position: relative;
}

.floating-menu a {
    color: #f7f7f7;
    text-decoration: none;
    font-size: 0.9rem;
    padding: 30px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
    display: block;
}

.floating-menu a:hover {
    color: #adafad;
}

/* Efeito de sublinhado */
.floating-menu li::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #909290ab;
    bottom: 15px;
    left: 10%;
    transform: translatey(-50%);
    transition: width 0.3s ease;
}

.floating-menu li:hover::after {
    width: 80%;
}



.categories-container {

    display: flex;
    justify-content: flex-end;

}

.categories-list {

    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 30px;
}

.category-item {
    position: relative;
}

.texto-simulado {
    font-size: 30px;
    color: #f7f7f7;
    text-decoration: none;
    font-weight: 600;
    padding: 5px 5px;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

.category-link {
    color: #f7f7f7;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 5px 5px;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

.category-link:hover {
    color: #adafad;
}

.category-item::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #909290ab;
    bottom: -5px;
    left: 0;
    transition: width 0.3s ease;
}

.category-item:hover::after {
    width: 100%;
}




.container {
    background-image: url('../imgs/fundo.png');
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;



}


.intro img {
    margin-left: -150px;
    width: 800px;
    height: 400px;
    max-height: 500px;
    border-radius: 50px;

}

.sobre img {
    width: 400px;
    height: 500px;
    max-height: 500px;
    border-radius: 50px;

}


.intro,
.sobre {
    margin-top: 30px;
    display: flex;
    align-items: center;
    width: 75%;
    gap: 20px;
}


.texto {
    font-size: 25px;
    color: rgb(247, 245, 245);
    max-width: 400px;
    background-color: #494747;
    border-radius: 20px;

}



.scroll-reveal {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}


.scroll-reveal.show {
    opacity: 1;
    transform: translateX(0);
}


.scroll-right {
    transform: translateX(100px);
}




.footer {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    width: 100%;
    color: aliceblue;

    background-color: rgb(24, 23, 23);
}




/* ________________________________________________RESPONSIVO_______________________________________________________ */


@media (max-width: 768px) {

    body {
        background-color: #333;
        zoom: 1;
    }

    .header-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px 0;
        position: relative;
        min-height: 100px;
    }


    .logo {
        position: static;
        width: 250px;
        margin: 0 auto;
        display: block;
    }


    .logo2 {
        position: absolute;
        top: 8px;
        left: 10px;
        height: 40px;
        width: 55px;
    }
      .mode-btn {
    position: absolute;
    top: 80px;
    right: 10px;
    width: 100px;
    height: 20px;
    color: #FFFFFF;
     background-color: #7a7073;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 10px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(219, 22, 22, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    z-index: 100;
}

    .login-box {
        position: fixed;
        top: 20%;
        left: 42%;
        transform: translate(-50%, -50%);
        width: 90%;
        max-width: 300px;
    }
    
    .categories-list {
        margin-right: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
        margin-bottom: 35px;
    }

    .texto-simulado {
        margin-left: 100px;
        margin-top: 25px;
        position: absolute;
        text-align: center;
        font-size: 25px !important;

    }

    .category-link {
        font-size: 0.7rem;
    }


    /* Menu flutuante */
    .floating-menu {
        display: none;

    }





    /* Conteúdo principal */
    .container {
         position: relative;
        width: 95%;
        padding: 0 10px;
    }

    .intro,
    .sobre {
        flex-direction: column;
        width: 95%;
        gap: 15px;
    }


    .intro img {
        margin-left: 1px;
        width: 400px;
        height: 200px;
        max-height: 500px;
        border-radius: 20px;

    }

    .sobre img {
        width: 300px;
        height: 300px;
        max-height: 300px;
        border-radius: 20px;

    }

    .texto {
        font-size: 1rem;
        max-width: 100%;
        padding: 15px;
    }


    /* Footer */
    .footer {
        height: auto;
        padding: 10px;
        text-align: center;
    }
}

@media (max-width: 480px) {

    /* Ajustes para telas muito pequenas */
    .logo {
        width: 200px;
    }

    .texto-simulado {
        font-size: 1rem;
    }

    .intro,
    .sobre {
        margin-top: 15px;
    }

    .floating-menu a {
        padding: 8px 10px;
        font-size: 0.7rem;
    }
}